.catalogue {
  &-title {
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
  }
  &-date {
    display: block;
    font-family: $sans-serif;
    font-size: 1.1rem;
    font-weight: 10;
  }
  &-item {
    color: $default-color;
    display: block;
    &-title {
      display: block;
      font-family: $sans-serif;
      font-size: 0.8rem;
      font-weight: 10;
      margin: .5rem 1rem;
    }
    &-time {
      margin-right: 2rem;
    }
  }
}
