// Colors

$color-transition:
    // We indirect the transition time through a variable whose default value
    // is zero so that the color scheme change on page load happens immediately.
    // Then, after the desired scheme is determined, the variable is changed to
    // a non-zero value in JS.
    background-color var(--color-scheme-transition-time) ease-out,
    color var(--color-scheme-transition-time) ease-out,
    border-color var(--color-scheme-transition-time) ease-out,
    box-shadow var(--color-scheme-transition-time) ease-out;


// Make the default be light mode. That way, the more complicated case is the
// default and thus bugs are discovered earlier.
body.light {
    --default-color: #555;
    --background-color: #fff;
    --default-shade: #353535;
    --default-tint: #aaa;
    --grey-1: #979797;
    --grey-2: #e5e5e5;
    --grey-3: #f0f0f0;
    --grey-4: #f9f9f9;
    --white: #fff;
    --blue: #4a9ae1;
    --shadow-color: rgba(0, 0, 0, .2);
    --code-color: #bf616a;
    --code-opacity: 1.0;
}

body:not(.light) {
    --default-color: #888;
    --background-color: #000;
    --default-shade: #989898;
    --default-tint: #555;
    --grey-1: #606060;
    --grey-2: #404040;
    --grey-3: #202020;
    --grey-4: #181818;
    --white: #fff;
    --blue: #1d6baf;
    --shadow-color: rgba(0, 0, 0, .2);
    --code-color: #a3434c;
    --code-opacity: 0.7;
}

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$monospaced: Menlo, Monaco, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
